@model IEnumerable<WebServiceProjecte.Models.Sucursal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comerç)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comerç.ComerçId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SucursalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SucursalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SucursalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
