@model WebServiceProjecte.Models.Encarrec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Encarrec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreuTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreuTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal
            
            
            )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.SucursalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usu.UsuId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EncarrecId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
