@model WebServiceProjecte.Models.Usuari

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuari</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUsuari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUsuari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasenya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasenya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comerç)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comerç.ComerçId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal
            
            
            
            
            )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.SucursalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
