@model WebServiceProjecte.Models.Producte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imatge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imatge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodiDeBarres">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
