@model IEnumerable<WebServiceProjecte.Models.Producte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imatge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imatge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodiDeBarres">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodiDeBarres">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodiDeBarres">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
